body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(43, 40, 40);
    color: rgb(231, 235, 238);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 65px;
    font-size: 5rem;
    color: rgb(192, 62, 30);
}
.title-section__block {
    display: flex;
    align-items: center;
}

.title-section__block-litle {
    position: relative;
    bottom: -9px;
}

.title-section span {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: burlywood;
}

.timer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 65px; */
    font-size: 5rem;
}

.main-section span {
    position: relative;
    font-size: 4rem;
    top: -6px;
}

.timer-text {
    /* color: #fff; */
    padding: 0 10px;
}

.timer-text:last-child {
    padding-right: 0px;
}
